<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="BootStrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <title>vote</title>
</head>

<body>
    <div id="content">
        <div id="navtab"></div>
        <div class="jumbotron">
            <div class="container">
                <div class="row equal-height">
                    <div class="col-md-8" style="color: white;">
                        <h1>
                            Make Your Vote
                            <p>Please make your vote according to the objective situation and personal
                                preference (make sure it is your personal wish)
                            </p>
                        </h1>

                    </div>
                    <div class="col-md-4">
                        <div class="inner-content vertical-center">
                            <button class="btn btn-primary btn-larger btn-3d" form="voteform">Confirm Vote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1 container-form">
                    <h2>Election Information</h2>

                    <!-- 组织者 -->
                    <div class="form-group">
                        <label for="organizer" class="title">Organizer:</label>
                        <span id="organizer">
                            <%= organizerName %>
                        </span>
                    </div>

                    <!-- 投票开始时间 -->
                    <div class="form-group">
                        <label for="voteStartTimeInfo" class="title">Vote Start Time:</label>
                        <span id="voteStartTimeInfo">
                            <%= voteStartTime %>
                        </span>
                    </div>

                    <!-- 投票结束时间 -->
                    <div class="form-group">
                        <label for="voteEndTimeInfo" class="title">Vote End Time:</label>
                        <span id="voteEndTimeInfo">
                            <%= voteEndTime %>
                        </span>
                    </div>

                    <!-- nullification结束时间 -->
                    <div class="form-group">
                        <label for="nulEndTimeInfo" class="title">Nullification End Time:</label>
                        <span id="nulEndTimeInfo">
                            <%= nulEndTime %>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1 container-form">
                    <form action="" id="voteform">
                        <div class="form-group">
                            <h3>
                                <%= question %>
                            </h3>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="question" value="Yes"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="question" value="No"> No
                                </label>
                            </div>
                        </div><br>
                    </form>
                </div>
            </div>
        </div>

        <!-- 消息 -->
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <label class="modal-title">Message</label>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Vote success!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <footer id="footer">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-check"></span>
    </footer>

    <script src="js/jquery-3.7.0.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="BootStrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });

        function submitVote() {
            let sortedAnimals = $("#sortable").sortable("toArray", {
                attribute: "data-value",
            });

            console.log(sortedAnimals); // 输出排序后的结果
            // 这里，你可以将排序后的结果发送到服务器
        }

        document.getElementById("voteform").addEventListener("submit", function (event) {
            event.preventDefault();
            // 在这里你可以添加实际的表单提交代码

            // 1. 提取表单数据
            const formData = new FormData(event.target);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });
            // console.log(data);

            // 2. 使用 fetch API 发送数据
            fetch(window.location.href, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $("#successModal").modal("show");
                    } else {
                        alert("Error: " + data.message);
                    }
                })
                .catch(error => {
                    console.error('There was an error submitting the form:', error);
                    alert('There was an error submitting the form.');
                });

        });
    </script>
    <script>
        $(function () {
            $("#navtab").load("navbar.html", function () {
                $.get('/checkLoginStatus', function (data) {
                    if (data.loggedIn) {
                        // 用户已登录，调整前端显示
                        document.getElementById("loginButton").style.display = "none";
                        document.getElementById("userDropdown").style.display = "inline";
                        // $("#loginModal").modal("hide");
                        document.getElementById("usernameDisplay").innerText = data.user.username;
                    } else {
                        // 用户未登录，调整前端显示
                        document.getElementById("loginButton").style.display = "inline";
                        document.getElementById("userDropdown").style.display = "none";
                    }
                });
            });
        });
    </script>
</body>

</html>